<tui-island class="container">
  <div class="tui-row">
    <div class="tui-col_md-1">
      <tui-svg src="tuiIconBookmark" class="icon"></tui-svg>
    </div>

    <div class="tui-col_md-11">
      <p class="title">fabricjs/fabric.js</p>
      <p class="description">
        Javascript Canvas Library, SVG-to-Canvas (& canvas-to-SVG) Parser
        Javascript Canvas Library, SVG-to-Canvas (& canvas-to-SVG) Parse
        Javascript Canvas Library, SVG-to-Canvas (& canvas-to-SVG) Parser
      </p>
      <div class="footer">
        <div class="footer-item">
          <tui-svg src="tuiIconStar" class="footer-item-icon"></tui-svg>
          <p class="footer-item-text">23.K</p>
        </div>
        <div class="footer-item">
          <tui-svg src="circleFill" class="footer-item-icon circle"></tui-svg>
          <p class="footer-item-text">23.K</p>
        </div>
        <div class="footer-item">
          <tui-svg src="tuiIconStar" class="footer-item-icon"></tui-svg>
          <p class="footer-item-text">23.K</p>
        </div>
      </div>
    </div>
  </div>
</tui-island>
