<h6 class="tui-text_h3 heading">
  A new way to discover <br />awesome github repositories
</h6>

<div class="separator-block">
  <p class="tui-text_body-l">Top Repositories</p>
  <div class="separator"></div>
</div>

<tui-notification
  status="error"
  class="notification"
  *ngIf="error$ | async as error"
>
  {{ error }}
</tui-notification>

<tui-loader
  [showLoader]="(loading$ | async) ?? false"
  [overlay]="true"
  [inheritColor]="false"
>
  <div class="cards-container">
    <ngx-repo-card
      class="card"
      *ngFor="let repo of repos$ | async"
      [title]="repo.name"
      [description]="repo.description"
      [stargazerCount]="repo.stargazerCount"
      [language]="repo.languages?.nodes?.[0] ?? null"
      [licenseInfo]="repo.licenseInfo"
    ></ngx-repo-card>
  </div>

  <div class="footer-block" *ngIf="pageInfo$ | async as pageInfo">
    <p
      class="footer-text"
      (click)="prev(pageInfo.startCursor)"
      [ngClass]="{ disabled: !pageInfo.hasPreviousPage }"
    >
      Prev
    </p>
    <p
      class="footer-text"
      (click)="next(pageInfo.endCursor)"
      [ngClass]="{ disabled: !pageInfo.hasNextPage }"
    >
      Next
    </p>
  </div>
</tui-loader>
