<h6 class="tui-text_h3 heading">
  A new way to discover <br />awesome github repositories
</h6>

<div class="separator-block">
  <p class="tui-text_body-l">Top Repositories</p>
  <div class="separator"></div>
</div>

<tui-notification
  status="error"
  class="notification"
  *ngIf="error$ | async as error"
>
  {{ error }}
</tui-notification>

<div class="container tui-space_top-5">
  <div class="tui-row">
    <div class="tui-col_md-6" *ngFor="let repo of repos$ | async">
      <ngx-repo-card></ngx-repo-card>
    </div>
  </div>
</div>
