<ngx-heading-section
  heading="A new way to discover awesome github repositories"
  separatorText="Top Repositories"
></ngx-heading-section>

<tui-notification
  status="error"
  class="notification"
  *ngIf="error$ | async as error"
>
  {{ error }}
</tui-notification>

<tui-loader
  [showLoader]="(loading$ | async) ?? false"
  [overlay]="true"
  [inheritColor]="false"
  *ngIf="repos$ | async as repos"
>
  <div class="cards-container">
    <ngx-repo-card
      class="card"
      *ngFor="let repo of repos"
      [title]="repo.name"
      [description]="repo.description"
      [stargazerCount]="repo.stargazerCount"
      [language]="repo.languages?.nodes?.[0] ?? null"
      [licenseInfo]="repo.licenseInfo"
      (click)="onRepoSelected(repo)"
    ></ngx-repo-card>
  </div>

  <div class="footer-block" *ngIf="pagination$ | async as pagination">
    <p
      class="footer-text"
      (click)="paginate(pagination, -1, repos.slice(-1)[0].cursor)"
    >
      Prev
    </p>
    <p
      class="footer-text"
      (click)="paginate(pagination, 1, repos.slice(-1)[0].cursor)"
    >
      Next
    </p>
  </div>
</tui-loader>
