<ngx-heading-section
  *ngIf="repoNameAndOwner$ | async as name"
  [heading]="
    'Explore top contributors from ' + name.split('/')[1] + ' repository'
  "
  [separatorText]="'Top repositories > ' + name.split('/')[1]"
></ngx-heading-section>

<tui-notification
  status="error"
  class="notification"
  *ngIf="error$ | async as error"
>
  {{ error }}
</tui-notification>

<tui-loader
  [showLoader]="(loading$ | async)!"
  [overlay]="true"
  [inheritColor]="false"
>
  <div class="container">
    <div class="list-block">
      <p class="title">All contributors</p>
      <tui-island class="list-card"></tui-island>
    </div>

    <div class="about-block">
      <p class="title">About</p>
      <tui-island class="about-card"></tui-island>
    </div>
  </div>
</tui-loader>
