:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.card {
  flex: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.header-block {
  display: flex;
  margin-top: 20px;
}

.initials-block {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font: var(--tui-font-text-xl);
  color: var(--tui-text-04);
}

.company {
  font: var(--tui-font-text-m);
  color: var(--tui-text-02);
}

.follow-block {
  display: flex;
  align-items: center;
}

.bio {
  font: var(--tui-font-text-l);
  color: var(--tui-text-02);
  margin-top: 20px;
}

.vcard-block {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.vcard {
  display: flex;
  align-items: center;
}

.vcard-icon {
  color: var(--tui-text-02);
}

.vcard-text {
  font: var(--tui-font-text-s);
  color: var(--tui-text-02);
  margin-left: 10px;
}
