<tui-island class="card">
  <ng-container *ngIf="contributor">
    <div class="header-block">
      <tui-avatar
        [text]="contributor.name ?? contributor.login"
        size="xl"
        [rounded]="true"
        [avatarUrl]="contributor.avatarUrl"
      ></tui-avatar>

      <div class="initials-block">
        <p class="name">{{ contributor.name }}</p>
        <p class="company">{{ contributor.company }}</p>
      </div>
      <div class="follow-block">
        <button
          tuiButton
          type="button"
          size="m"
          iconRight="tuiIconExternal"
          class="follow-btn"
          (click)="onFollow()"
        >
          Github
        </button>
      </div>
    </div>
    <p class="bio" *ngIf="contributor.bio">{{ contributor.bio }}</p>
    <div class="vcard-block">
      <div class="vcard" *ngIf="contributor.location">
        <tui-svg src="tuiIconPin" class="vcard-icon"></tui-svg>
        <p class="vcard-text">{{ contributor.location }}</p>
      </div>
      <div class="vcard" *ngIf="contributor.email">
        <tui-svg src="tuiIconMail" class="vcard-icon"></tui-svg>
        <p class="vcard-text">{{ contributor.email }}</p>
      </div>
      <div class="vcard" *ngIf="contributor.websiteUrl">
        <tui-svg src="tuiIconLink" class="vcard-icon"></tui-svg>
        <p class="vcard-text">{{ contributor.websiteUrl }}</p>
      </div>
      <div class="vcard" *ngIf="contributor.twitterUsername">
        <tui-svg src="twitter" class="vcard-icon"></tui-svg>
        <p class="vcard-text">@{{ contributor.twitterUsername }}</p>
      </div>
    </div>

    <div class="stats-block">
      <tui-island
        class="stats-island"
        *ngIf="contributor.following?.totalCount"
      >
        <h3 class="stats-title">Following</h3>
        <p class="stats-text">
          {{ contributor.following.totalCount | shortNumber }}
        </p>
      </tui-island>
      <tui-island
        class="stats-island"
        *ngIf="contributor.followers?.totalCount"
      >
        <h3 class="stats-title">Followers</h3>
        <p class="stats-text">
          {{ contributor.followers.totalCount | shortNumber }}
        </p>
      </tui-island>
      <tui-island
        class="stats-island"
        *ngIf="contributor.repositories?.totalCount"
      >
        <h3 class="stats-title">Total repos</h3>
        <p class="stats-text">
          {{ contributor.repositories.totalCount | shortNumber }}
        </p>
      </tui-island>
    </div>
  </ng-container>
</tui-island>
